* {
  margin: 0;
  padding: 0;
}

.table-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 32;
}

@media screen and (max-width: 1400px) {
  .main-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .main-content {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.table {
  display: block;
  overflow: hidden;
  table-layout: fixed;
  border-collapse: collapse;
  box-shadow: 0px 10px 10px #ccc;
  border-radius: 10px;
  white-space: nowrap;
  width: 100%; /* Change width to 100% for responsiveness */
  max-width: 100%; /* Change max-width to 100% for responsiveness */
  overflow-x: auto;
  background-color: rgb(12, 20, 44);
}

.table thead {
  background-color: #ccc;
  color: #222;
}

.table th,
.table td {
  padding: 0.8rem;
}

.table td {
  border-top: 0.5px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.table tbody tr:hover {
  background-color: #5241eb;
}

.expand {
  width: 100%;
}

.label {
  border-radius: 3px;
  padding: 0.3rem;
  color: white;
}

.label-draft {
  background-color: #777;
}

.label-live {
  background-color: #42a942;
}

.label-error {
  background-color: #d9534f;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.actions svg {
  cursor: pointer;
}

.delete-btn {
  color: #e10d05;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .table td,
  .table th {
    padding: 0.5rem; /* Adjust padding for smaller screens */
  }
}
