.comp {
  background-color: rgb(12, 20, 44);
  border-bottom: 1px solid white; /* Change your-desired-color to the desired color */
  margin-bottom: 1px; /* Adjust margin-bottom as needed */
  /* Add any additional styling as needed */
}
